if ARCH_STI

config SPL
	select SPL_BOARD_INIT
	select SPL_CLK
	select SPL_DM
	select SPL_DM_SEQ_ALIAS
	select SPL_DRIVERS_MISC
	select SPL_FRAMEWORK
	select SPL_GPIO
	select SPL_LIBCOMMON_SUPPORT
	select SPL_LIBGENERIC_SUPPORT
	select SPL_OF_CONTROL
	select SPL_OF_TRANSLATE
	select SPL_PINCTRL
	select SPL_REGMAP
#	select SPL_DM_RESET
	select SPL_SERIAL
	select SPL_SYSCON
	select SPL_WATCHDOG if WATCHDOG
	imply BOOTSTAGE_STASH if SPL_BOOTSTAGE
	imply SPL_BOOTSTAGE if BOOTSTAGE
	imply SPL_DISPLAY_PRINT
	imply SPL_LIBDISK_SUPPORT
	imply SPL_SPI_LOAD if SPL_SPI

config SYS_SOC
	default "stih410"

choice
	prompt "STiH41x board select"

config TARGET_STIH410_B2260
	bool "96Boards STiH410-B2260"
	help
	  Support for 96Board STiH410-B2260 based on STMicroelectronics
	  STiH410 soc. This board complies with 96Board Open Platform
	  Specifications. Features:
	  - 1GB DDR
	  - On-Board USB combo WiFi/Bluetooth RTL8723BU
	    with PCB soldered antenna
	  - Ethernet 1000-BaseT
	  - Sata
	  - HDMI
	  - 2 x USB2 type A
	  - micro USB2 type AB
	  - SD card slot
	  - High speed connector (SD/I2C/USB interfaces)
	  - Low speed connector (UART/I2C/GPIO/SPI/PCM interfaces)

config TARGET_STIH418_B2264
	bool "4KOpen STiH418-B2264"
	select SUPPORT_SPL
	select SPL
	help
	  Support for 4KOpen STiH418-B2264 based on STMicroelectronics
	  STiH418 soc.

endchoice

source "board/st/stih410-b2260/Kconfig"
source "board/st/stih418-b2264/Kconfig"

endif
